<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Users</title>

    <!-- Favicon -->
    <th:block th:replace="/ep/layout/head :: head"/>
</head>

<body class="   footer-offset">
<!--<th:block th:replace="/ep/layout/builder :: builder"/>-->
<!--<th:block th:replace="/ep/layout/headerMain :: headerMain"/>-->
<!--<th:block th:replace="/ep/layout/plugin :: plugin"/>-->
<!--<th:block th:replace="/ep/layout/asidebar :: asidebar"/>-->
<!--<th:block th:replace="/ep/layout/searchForm :: search"/>-->
<!--<th:block th:replace="/ep/layout/asidebarCompact :: sidebarCompact"/>-->
<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <th:block th:replace="/ep/layout/filter :: filter"/>


        <div class="table-responsive datatable-custom">
            <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                <div id="datatable_filter"
                     class="dataTables_filter"><label>Search:<input type="search" class="" placeholder=""
                                                                    aria-controls="datatable"></label></div>
                <table id="datatable"
                       class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer"
                       data-hs-datatables-options="{
                     &quot;columnDefs&quot;: [{
                        &quot;targets&quot;: [0, 7],
                        &quot;orderable&quot;: false
                      }],
                     &quot;order&quot;: [],
                     &quot;info&quot;: {
                       &quot;totalQty&quot;: &quot;#datatableWithPaginationInfoTotalQty&quot;
                     },
                     &quot;search&quot;: &quot;#datatableSearch&quot;,
                     &quot;entries&quot;: &quot;#datatableEntries&quot;,
                     &quot;pageLength&quot;: 15,
                     &quot;isResponsive&quot;: false,
                     &quot;isShowPaging&quot;: false,
                     &quot;pagination&quot;: &quot;datatablePagination&quot;
                   }" role="grid" aria-describedby="datatable_info">
                    <thead class="thead-light">
                    <tr role="row">
                        <th class="table-column-pl-0" tabindex="0" aria-controls="datatable" rowspan="1"
                            colspan="1"  style="width: 51.513px;">
                            Employee code
                        </th>
                        <th class="table-column-pl-0" tabindex="0" aria-controls="datatable" rowspan="1"
                            colspan="1"  style="width: 151.513px;">
                            Name
                        </th>
                        <th  tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                             style="width: 159.45px;">Age
                        </th>
                        <th  tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                             style="width: 143.95px;">Salary
                        </th>
                        <th  tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                             style="width: 117.75px;">Branch</th>
                        <th  rowspan="1" colspan="1" aria-label=""
                            style="width: 183.488px;">Action</th>
                    </tr>
                    </thead>

                    <tbody>


                    <tr role="row" class="odd" th:each="student : ${students}">
                        <td>
                            <span th:text="${student.employCode}"></span>
                        </td>
                        <td>
                            <div class="ml-3">
                                <a class="d-flex">
                                    <div>

                                        <a th:href="@{/detail/__${student.id}__}">
                                           <span th:text="${student.fullName}"></span>
                                        </a>

                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <span class="d-block h5 mb-0" th:text="${student.date}"></span>
<!--                            <span class="d-block font-size-sm" th:text="${student.address}"></span>-->
                        </td>
<!--                        <td>-->
<!--                            <span th:text="${student.salary}"></span>-->
<!--                        </td>-->

                        <td th:text="${student.email}"></td>
                        <td th:text="${student.classroom}"></td>
                        <td>
                            <div id="editUserPopover">
                                <a class="btn btn-sm btn-white" th:href="@{/edit/__${student.id}__}">
                                    <i class="tio-edit"></i> Edit
                                </a>
                            </div>
                            <div id="deleteUserPopover">
                                <a class="btn btn-sm btn-white" th:href="@{/delete/__${student.id}__}">
                                    <i class="tio-edit"></i> Delete
                                </a>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- End Table -->

                <!-- Footer -->

                <!-- End Footer -->


                <!-- End Card -->
            </div>
            <!-- End Content -->


        </div>
    </div>
</main>


<th:block th:replace="/ep/layout/script :: script"/>
</body>
</html>
